:root {
  --color-primary-darkest: #222641;
  --color-primary-dark: #36384d;
  
  --color-error-lightest: #ffe8e6;
  --color-error-medium: #db7d77;

  --color-neutral-medium: #bababf;
  --color-neutral-lightest: #ffffff;
}